*.pyc
*.db
*~
.*

/node_modules
/venvdjango
./site/
project/htmlcov/
project/coverage/
./build/
./dist/
./*.egg-info/
./.vscode
/env/
MANIFEST
coverage.*

project/frontend/static/frontend

*.gitignore
*.travis.yml
*.isort.cfg